
  <div class="terminal">
    <pre>
AppModule 
    const firebaseConfig = &#123;
      apiKey: '*******',
      authDomain: '*******',
      databaseURL: '*******',
      projectId: '',
      storageBucket: '',
      messagingSenderId: '',
      appId: '',
      measurementId: ''
    &#125;;
    const authProviders: FirebaseAuthProviders =&#123;
      googleAuthProvider: true,
      emailAuthProvider: true,
      githubAuthProvider: false,
      facebookAuthProvider: false,
      AnonymousAuthProvider: false,
      phoneAuthProvider: false,
      twitterAuthProvider: false,
    &#125;;
    imports: [
      ...,
      NgafrAuthenticationModule
            .forRoot(firebaseConfig, authProviders),
      ...
    ]

Template
    &lt;div libNgafrAuth&gt;&lt;/div&gt;
    </pre>
</div>